extends layout

block content
    h1.
        Search List
    ul
        each doc, i in searchresult
            li
                a= doc.idNummer
                a= " "
                a= doc.username  
                a= " "
                a= doc.usernachname
                a= " "
                a(href="mailto:#{doc.email}")= doc.email      
                a= " "
                a= doc.userraum
