extends layout

block content
    h1.
        Search List
    ul
        each doc, i in searchresult
            li
                a= doc.name.idNummer
                a= " "
                a= doc.name.username  
                a= " "
                a= doc.name.usernachname
                a= " "
                a(href="mailto:#{doc.name.email}")= doc.name.email      
                a= " "
                a= doc.name.userraum
